{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <h2>Active Listings</h2>
    {% if activeAuctions %}
        <ul>
            {% for a in activeAuctions %}
                <div class="grid-ecommerce ">
                    <div class="div-auction left-auction area-titulo">
                        <!-- <p class="p-auction"></strong> <a  href="{% url 'showItem' itemId=1%}"> {{a.sellingProduct.productTitle}}</a></p> -->
                    </div>
                    <div class="div-auction  area-producto">
                        <img class="imgList imgexpand" src="{% static 'images/bandmember.jpg' %}" >
                        <!-- <img  class="imgcomment" src="https://mangaplus.shueisha.co.jp/drm/comment_icon/502.png?key=de20d0a6eb0a16761c8918837c5cae56&duration=86400" alt="Avatar" style="width:100%;"> -->
                     </div>
                    <div class="div-auction  area-precio left-auction">
                        <p class="p-auction"></strong> <a  href="{% url 'showItem' itemId=a.0.id %}"> <h4>{{a.0.name}}</h4></a></p>
                        <p class="p-auction"><strong>Price: </strong>{{a.0.currentPrice}}$ </p>
                        <p class="p-auction"> <strong>Seller: </strong>{{a.0.owner}}</p>
                        <p class="p-auction"> <strong>Description: </strong>{{a.0.description}}</p>
                        <!-- <p class=" p-auction"> <strong>Published</strong> {{a.0.publishDate}} </p>
                        <p  class="p-auction"> <strong>Category  </strong> <a  href="{% url 'listItems' department=a.0.category %} ">{{a.0.category}}</a>  </p> -->
                    </div>
                    <div class="div-auction  area-fecha left-auction">


                    </div> 
                    <div class="div-auction  area-vacio">
                    </div>   
                    <div class="div-auction  area-vacio left-auction">
                        <!-- <p class=" p-auction"> <strong>Published</strong> {{a.publishDate}} </p> -->
                    </div>
                </div> 
                {% if a.1 %}
                    <form action="{% url 'removeFromList' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{a.0.id}}" name="productId">
                        <input class="btn-warning" type="submit"value="Remove from wish list">
                      </form>

                {%else%}
                    <form action="{% url 'addToList' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{a.0.id}}" name="productId">
                    <input class="btn-primary" type="submit"value="Add to wish list">
                  </form>
                {%endif%}
            {% endfor %}
            
        </ul>
    {% endif %}
    {{displayButton}}
{% endblock %}