{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}


{% if activeAuctions %}
  <ul>
    {% for a in activeAuctions %}
        <div class="grid-ecommerce ">
            <div class="div-auction left-auction area-titulo">
                <p class="p-auction"></strong> <a  href="{% url 'showItem' itemId=a.0.id %}"> {{a.0.name}}</a></p>
            </div>
            <div class="div-auction  area-producto">
            
                <img class="imgList imgexpand" src="{% static 'images/bandmember.jpg' %}" >
                <!-- <img  class="imgcomment" src="https://mangaplus.shueisha.co.jp/drm/comment_icon/502.png?key=de20d0a6eb0a16761c8918837c5cae56&duration=86400" alt="Avatar" style="width:100%;"> -->
            </div>
            <div class="div-auction  area-precio left-auction">
                <p class="p-auction"><strong>Precio: </strong>{{a.0.currentPrice}}$ </p>
            </div>
            <div class="div-auction  area-fecha left-auction">
                <p class="area-fecha"> <strong>Seller: </strong>{{a.0.owner}}</p>
            </div> 
            <div class="div-auction  area-vacio">
            </div>   
            <div class="div-auction  area-vacio left-auction">
                <p class=" p-auction"> <strong>Published</strong> {{a.0.publishDate}}    </p>
            </div>

            {% if a.1 %}
              <p class=" p-auction">This item is your wishList</p>
            {% else %}
              <form action="{% url 'addToList' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{a.0.id}}" name="productId">
                <input class="btn-primary" type="submit"value="Add to wish list">
              </form>
            {% endif %}
        </div> 
    {% endfor %}
  </ul>
{% endif %}

{% if wishList %}
<ul>
  {% for a in wishList %}
        <div class="grid-ecommerce ">
            <div class="div-auction left-auction area-titulo">
                <p class="p-auction"></strong> <a  href="{% url 'showItem' itemId=a.id %}"> {{a.name}}</a></p>
            </div>
            <div class="div-auction  area-producto">
            
                <img class="imgList imgexpand" src="{% static 'images/bandmember.jpg' %}" >
                <!-- <img  class="imgcomment" src="https://mangaplus.shueisha.co.jp/drm/comment_icon/502.png?key=de20d0a6eb0a16761c8918837c5cae56&duration=86400" alt="Avatar" style="width:100%;"> -->
            </div>
            <div class="div-auction  area-precio left-auction">
                <p class="p-auction"><strong>Precio: </strong>{{a.currentPrice}}$ </p>
            </div>
            <div class="div-auction  area-fecha left-auction">
                <p class="area-fecha"> <strong>Seller: </strong>{{a.owner}}</p>
            </div> 
            <div class="div-auction  area-vacio">
            </div>   
            <div class="div-auction  area-vacio left-auction">
                <p class=" p-auction"> <strong>Published</strong> {{a.publishDate}}    </p>
            </div>

        </div> 
  {% endfor %}

</ul>
{% endif %}



{% endblock %}