{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}



<p class="p-auction"></strong><h3>{{prod.name}}</h3></p>
            <div class="grid-ecommerce ">

              <div class="div-auction left-auction area-titulo">

                </div>
                <div class="div-auction  area-producto">
                  {%if prod.photo %}
                    <img class="imgShowed imgexpand" src="{% static prod.photo.url %}" > 
                  {% else%}
                    <img class="imgShowed" src="{% static 'images/no_image.png' %}" > 
                  {% endif %}                  <!-- <img class="imgShowed imgexpand"  src="{% static 'images/bandmember.jpg' %}" > -->
                  <!-- <img  class="imgcomment" src="https://mangaplus.shueisha.co.jp/drm/comment_icon/502.png?key=de20d0a6eb0a16761c8918837c5cae56&duration=86400" alt="Avatar" style="width:100%;"> -->
                </div>
                <div class="div-auction  area-precio left-auction">
                  <p class="p-auction"><strong>Bid initial price:</strong> {{prod.initialPrice}}$</p>
                  <p class="p-auction"><strong>Bid current price:</strong> {{prod.currentPrice}}$</p>
                  <p class="p-auction"><strong>Description: </strong> {{prod.description}}</p>
                  <p class="p-auction"><strong>Total bids: </strong> {{prod.totalBids}}</p>
                  {% if prod.state %}


                    {% if user.is_authenticated %}                    
                      {% if owner is False %}
                        <form action="{% url 'postBid' prod.id %}" method="POST">
                          {% csrf_token %}
                          <input name="actualValue" type="hidden" value={{prod.currentPrice}}>
                          <input name="increase" type="number"  placeholder="Increase" step="any" min="{{minBid}}">
                          <input class="btn btn-primary" type="submit" value="Bid">
                        </form>

                      {% else %}
                        <form action="{% url 'closeAuction' prod.id %}" method="POST">
                          {% csrf_token %}
                          <input class="btn btn-danger" type="submit" value="End Auction">
                        </form>                  
                      {% endif %}
                    {% endif %}  
                  {% else %} 

                    {% if buyer is True %}
                      <h3>You bought the product</h3>


                    {% elif owner is True%}
                      
                      <h3>You have selled the product.</h3>

                    {% else %}
                      <h3>The product was bought by someone else.</h3>
                      
                    {% endif %}

                  {% endif %}                    
                </div>
                <div class="div-auction  area-fecha left-auction">
                  <p class="area-fecha"> <strong>Seller:</strong> {{ prod.owner }}</p>
                </div> 
                <div class="div-auction  area-vacio">
                </div>   
                <div class="div-auction  area-vacio left-auction">
                  <p class=" p-auction"> <strong>Published Date:</strong> {{prod.publishDate}}</p>
                </div>
              </div> 
              {% if prod.state %}
                {% if user.is_authenticated %}
                  {% if owner is False %}

                    {% if isInList %}
                      <form action="{% url 'removeFromList' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{prod.id}}" name="productId">
                        <input class="btn-warning" type="submit"value="Remove from wish list">
                      </form>

                    {% else %}
                      <form action="{% url 'addToList' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{prod.id}}" name="productId">
                        <input class="btn-primary" type="submit"value="Add to wish list">
                      </form>                  
                    {% endif %}
                  {% endif %}
                {% endif %}  
              {% endif %}

            {% if user.is_authenticated %}
              <form action="{% url 'postComment' prod.id %}" style="margin-top:5vh;" method="POST">
                <p>Make a comment</p>
                {% csrf_token %}
                  {% for field in form %}
                      <div class="divlabel">  
                          {{ field }}
                      </div>
                      <br>

                  {% endfor %}
                  <input class="btn btn-primary" type="submit" value="Comment">
              </form>
            {% endif %}

              
              {% for c in comments%}
                <link rel="stylesheet" type="text/css" href="comentario.css">

                <div class="grid-layout" >
                  <div class="caja left cl">
                    <p class="comentariop"><strong>{{c.mssFrom}}</strong></p>
                  </div>
                  <div class="caja  ci">
                    <img class="imgcomment" src="{% static 'images/bandmember.jpg' %}" > 
                    <!-- <img  class="imgcomment" src="https://mangaplus.shueisha.co.jp/drm/comment_icon/502.png?key=de20d0a6eb0a16761c8918837c5cae56&duration=86400" alt="Avatar" style="width:100%;"> -->
                  </div>
                  <div class="caja  cc left">
                    <p class="comentariop">{{c.content}}</p>
                  </div>
                  <div class="caja  cf left">
                    <span class="comentariospan"> <strong>Date</strong>: {{c.date}}</span>
                  </div> 
                  <div class="caja  cv">
                  </div>   
                  <div class="caja  ct left">
                    <span class="time-right comentariospan"> <strong>Rated</strong>: {{c.rate}}</span>
                  </div>
                </div> 
              {% empty%}
              <br>
                <p>no previous opinion from users, yet</p>
              {% endfor %}
              

              
              {% endblock %}